name: drinking-ponies-{{ dptb_stand }}

services:
  {{ dptb_name }}:
    image: {{ dptb_image }}:{{ dptb_version }}
    container_name: {{ dptb_name }}-{{ dptb_stand }}
    pull_policy: "{{ dptb_pull_policy | default('always') }}"
    env_file:
      - ./.dptb-env
    ports:
      - 127.0.0.1:{{ dptb_target_web_port }}:{{ dptb_docker_web_port }}
      - 127.0.0.1:{{ dptb_target_actuator_port }}:{{ dptb_docker_actuator_port }}
      - {{ dptb_docker_gateway }}:{{ dptb_target_actuator_port }}:{{ dptb_docker_actuator_port }}
    restart: {{ dbtb_restart_policy | default('always') }}
    volumes:
      - "/{{ dptb_root_dir}}/{{ dptb_main_dir }}/{{ dptb_config_dir }}:/{{ dptb_root_dir}}/{{ dptb_main_dir }}/{{ dptb_config_dir }}"
    labels:
      - service={{ dptb_name }}
      - zone={{ dptb_zone }}
      - stand={{ dptb_stand }}
    logging:
      driver: json-file
      options:
        labels: "service,zone,stand"
    deploy:
      resources:
        limits:
          memory: {{ dptb_limits_memory | default('512m') }}
          cpus: {{ dptb_limits_cpu | default('0.5') }}
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:{{ dptb_docker_actuator_port }}/actuator/health"]
      interval: {{ dptb_healthcheck_interval | default('5s') }}
      timeout: {{ dptb_healthcheck_timeout | default('1s') }}
      retries: {{ dptb_healthcheck_retries | default(5) }}
      start_period: {{ dptb_healthcheck_start_period | default('20s') }}
