SERVER_PORT="{{ dptb_docker_web_port }}"
MANAGEMENT_PORT="{{ dptb_docker_actuator_port }}"
DATABASE_URL="{{ dptb_database_url }}"
DATABASE_USERNAME="{{ dptb_database_username }}"
DATABASE_PASSWORD="{{ dptb_database_password }}"
CURRENT_VERSION="{{ dptb_version }}"
TELEGRAM_BOT_TOKEN="{{ dptb_telegram_bot_token }}"
TELEGRAM_BOT_CREATOR_ID="{{ dptb_telegram_bot_creator_id }}"
QUITE_MODE_TIME_WEB_APP_URL="{{ dptb_quite_mode_time_web_app_url }}"
CORS_ALLOWED_ORIGINS="{{ dptb_cors_allowed_origins | join(',') }}"
JAVA_OPTS={{ dptb_java_opts | join(' ') }}
