stages:
  - pre
  - test
  - build

workflow:
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH'
      when: always
    - when: never

.develop_push_only:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "develop"'
      when: on_success
    - when: never

generate-version:
  tags:
    - self
  stage: pre
  variables:
    GIT_DEPTH: 0
  image:
    name: gittools/gitversion:6.5.0
    entrypoint: [""]
  before_script:
    - git fetch --tags
  script:
    - /tools/dotnet-gitversion /showconfig
    - /tools/dotnet-gitversion /diag /verbosity Diagnostic
    - /tools/dotnet-gitversion /output buildserver
  artifacts:
    reports:
      dotenv: gitversion.properties
    paths:
      - gitversion.properties

test:
  tags:
    - self
    - docker
  stage: test
  image: gradle:8.4-jdk17
  variables:
    GRADLE_USER_HOME: ".gradle"
  cache:
    - key: gradle-cache-${CI_PROJECT_ID}
      paths:
        - .gradle
    - key: gradle-build-${CI_PROJECT_ID}-${CI_COMMIT_REF_NAME}
      paths:
        - build/
  before_script:
    - |
      curl -fsSL https://cli.codecov.io/latest/linux/codecov -o codecov
      chmod +x codecov
  script:
    - gradle test

    - test -f build/jacoco/coverage.xml

    - |
      ./codecov create-commit
      ./codecov create-report
      ./codecov do-upload -Z -n "codecov-${CI_PROJECT_ID}-${CI_COMMIT_REF_NAME}"
  artifacts:
    when: always
    paths:
      - build/jacoco/coverage.xml
      - build/test-results/test
    reports:
      junit: "build/test-results/test/*.xml"
      coverage_report:
        coverage_format: jacoco
        path: "build/jacoco/coverage.xml"
