.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.liquibase
.jpb
.env
plans/
.kotlin/

### AbilityBot local SQLite (MapDB) ###
DrinkingPoniesBot
DrinkingPoniesBot.*

### macOS ###
**/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
