stages:
  - pre
  - test
  - build
  - migration
  - deploy
  - post

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH'
      when: always
    - when: never

variables:
  GRADLE_JVM_OPTS: "-Xmx4096m"
  GRADLE_OPTS: "-Dorg.gradle.workers.max=4"
  SERVICE_NAME: "dptb"
  IMAGE_ANSIBLE_NAME: ansible
  IMAGE_ANSIBLE_TAG: 1.1.0
  ANSIBLE_LIMIT: "test"

default:
  interruptible: true

.default-tags: &default-tags
  tags:
    - self-hosted
    - docker

build-ansible-image:
  <<: *default-tags
  stage: pre
  allow_failure: true
  image: docker:27
  when: manual
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build -f .ansible/Dockerfile -t "$CI_REGISTRY_IMAGE/$IMAGE_ANSIBLE_NAME:$IMAGE_ANSIBLE_TAG" .
    - docker push "$CI_REGISTRY_IMAGE/$IMAGE_ANSIBLE_NAME:$IMAGE_ANSIBLE_TAG"
  after_script:
    - docker rmi "$CI_REGISTRY_IMAGE/$IMAGE_ANSIBLE_NAME:$IMAGE_ANSIBLE_TAG" || true

generate-version:
  <<: *default-tags
  stage: pre
  image:
    name: gittools/gitversion:6.5.0
    entrypoint: [""]
  variables:
    GIT_DEPTH: 0
  before_script:
    - git fetch --tags
  script:
    - /tools/dotnet-gitversion /showconfig
    - /tools/dotnet-gitversion /diag /verbosity Diagnostic
    - /tools/dotnet-gitversion /output buildserver
  artifacts:
    expire_in: 1 day
    reports:
      dotenv: gitversion.properties
    paths:
      - gitversion.properties

test:
  <<: *default-tags
  stage: test
  image: gradle:8.4-jdk17
  variables:
    GRADLE_USER_HOME: ".gradle"
    TELEGRAM_BOT_TOKEN: $TELEGRAM_BOT_TEST_TOKEN
  cache:
    - key: gradle-cache-${CI_PROJECT_ID}
      paths:
        - .gradle
    - key: gradle-build-${CI_PROJECT_ID-$CI_COMMIT_REF_NAME}
      paths:
        - build/
  before_script:
    - |
      curl -fsSL https://cli.codecov.io/latest/linux/codecov -o codecov
      chmod +x codecov
  script:
    - gradle test

    - test -f build/jacoco/coverage.xml

    - |
      ./codecov create-commit
      ./codecov create-report
      ./codecov do-upload -Z -n "codecov-$CI_PROJECT_ID-$CI_COMMIT_REF_NAME"
  artifacts:
    expire_in: 1 day
    when: always
    paths:
      - build/jacoco/coverage.xml
      - build/test-results/test
    reports:
      junit: "build/test-results/test/*.xml"
      coverage_report:
        coverage_format: jacoco
        path: "build/jacoco/coverage.xml"

build-jar:
  <<: *default-tags
  stage: build
  image: gradle:8.4-jdk17
  needs:
    - test
  variables:
    GRADLE_USER_HOME: ".gradle"
  cache:
    - key: gradle-cache-${CI_PROJECT_ID}
      paths:
        - .gradle
  script:
    - gradle assemble
  artifacts:
    expire_in: 1 day
    paths:
      - build/libs/drinking-ponies.jar

build-image:
  <<: *default-tags
  stage: build
  image: docker:27
  needs:
    - job: generate-version
      artifacts: true
    - job: build-jar
      artifacts: true
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - echo "image tag=$GitVersion_SemVer"
    - |
      docker build -t "$CI_REGISTRY_IMAGE:$GitVersion_SemVer" .
      docker push "$CI_REGISTRY_IMAGE:$GitVersion_SemVer"
      if [ "$CI_COMMIT_BRANCH" = "master" ]; then
        docker tag "$CI_REGISTRY_IMAGE:$GitVersion_SemVer" "$CI_REGISTRY_IMAGE:latest"
        docker push "$CI_REGISTRY_IMAGE:latest"
      fi
  after_script:
    - |
      docker rmi "$CI_REGISTRY_IMAGE:$GitVersion_SemVer" || true
      docker rmi "$CI_REGISTRY_IMAGE:latest" || true

.run-ansible:
  <<: *default-tags
  stage: deploy
  image: $CI_REGISTRY_IMAGE/$IMAGE_ANSIBLE_NAME:$IMAGE_ANSIBLE_TAG
  when: manual
  variables:
    ANSIBLE_PLAYBOOK: .ansible/playbooks/deploy.yml
    ANSIBLE_INVENTORIES: .ansible/inventories/all.yml
  before_script:
    - chmod 600 $ANSIBLE_SSH_PRIVATE_KEY || true
  script:
    - |
      ansible-playbook \
        -i $ANSIBLE_INVENTORIES \
        $ANSIBLE_PLAYBOOK \
        ${ANSIBLE_LIMIT:+--limit=$ANSIBLE_LIMIT} \
        -v

update-database:
  extends:
    - .run-ansible
  stage: migration
  variables:
    ANSIBLE_PLAYBOOK: .ansible/playbooks/migration.yml
    LIQUIBASE_COMMAND: update
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: on_success
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: on_success
      variables:
        ANSIBLE_LIMIT: "prod"
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  before_script:
    - !reference [.run-ansible, before_script]

rollback-database:
  extends:
    - .run-ansible
  stage: migration
  variables:
    ANSIBLE_PLAYBOOK: .ansible/playbooks/migration.yml
    LIQUIBASE_COMMAND: rollback
    LIQUIBASE_ROLLBACK_TAG: "" # must be overridden when the job will be run
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: manual
      variables:
        ANSIBLE_LIMIT: "prod"
    - when: manual
  before_script:
    - !reference [.run-ansible, before_script]

deploy-service:
  extends:
    - .run-ansible
  dependencies:
    - generate-version
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: on_success
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: on_success
      variables:
        ANSIBLE_LIMIT: "prod"
    - if: '$CI_COMMIT_BRANCH'
      when: manual
      allow_failure: true
  variables:
    ANSIBLE_PLAYBOOK: .ansible/playbooks/deploy.yml
    DPTB_VERSION: ${GitVersion_SemVer}
  before_script:
    - !reference [.run-ansible, before_script]

tag-build:
  <<: *default-tags
  stage: post
  image:
    name: alpine/git:2.49.1
    entrypoint: [""]
  dependencies:
    - generate-version
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "develop"'
      when: on_success
    - when: never
  before_script:
    - |
      git config user.name "Deploy Bot"
      git config user.email "deploy-bot@local"

      if git remote get-url github >/dev/null 2>&1; then
        git remote set-url github "https://x-access-token:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
      else
        git remote add github "https://x-access-token:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
      fi
  script:
    - |
      PREFIX=build
      if [ "$CI_COMMIT_BRANCH" = "master" ]; then
        PREFIX=release
      fi
      
      GIT_TAG="$PREFIX-$GitVersion_SemVer"
      
      if git rev-parse "$GIT_TAG" >/dev/null 2>&1; then
        echo "Tag $GIT_TAG already exists locally"
      else
        git tag "$GIT_TAG"
      fi

      git push github "refs/tags/$GIT_TAG"
