server:
  port: ${SERVER_PORT:8080}

spring:
  main:
    allow-bean-definition-overriding: true
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        temp.use_jdbc_metadata_defaults: false
        generate_statistics: true
    open-in-view: false
  data:
    jpa:
      repositories:
        bootstrap-mode: default
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      driver-class-name: ${spring.datasource.driver-class-name}
      jdbc-url: ${spring.datasource.url}
      username: ${spring.datasource.username}
      password: ${spring.datasource.password}
      pool-name: ${HIKARI_POOL_NAME:HikariPool}
      max-lifetime: ${HIKARI_MAX_LIFE_TIME:600000}
      connection-timeout: ${HIKARI_CONNECTION_TIMEOUT:15000}
      maximum-pool-size: ${HIKARI_MAXIMUM_POOL_SIZE:5}
      idle-timeout: ${HIKARI_IDLE_TIMEOUT:200000}
      minimum-idle: ${HIKARI_MINIMUM_IDLE:2}
  config:
    import:
      - ${BUTTONS_CONFIG_PATH:classpath:buttons.yaml}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}

management:
  server:
    port: ${MANAGEMENT_PORT:7000}
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState, db
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include:
          - health
          - prometheus

telegram-bot:
  version: ${CURRENT_VERSION:unknown}
  token: ${TELEGRAM_BOT_TOKEN}
  username: ${TELEGRAM_BOT_USERNAME:DrinkingPoniesBot}
  creator-id: ${TELEGRAM_BOT_CREATOR_ID}
  auto-update-commands: ${TELEGRAM_BOT_AUTO_UPDATE_COMMANDS:true}
  http:
    connection-time-to-live-in-sec: ${TELEGRAM_BOT_HTTP_CONNECTION_TIME_TO_LIVE:60}
    max-connection-total: ${TELEGRAM_BOT_MAX_CONNECTION_TOTAL:100}
  schedule:
    notification:
      cron: ${TELEGRAM_BOT_SCHEDULE_NOTIFICATION_CRON:0 */5 * ? * *}

logbook:
  strategy: body-only-if-status-at-least
  minimum-status: ${LOGBOOK_MINIMUM_STATUS:200}
  format:
    style: http
  logger:
    name: API