spring:
  jmx:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        exclude: loggers, mappings, env, info, scheduledtasks, caches, sbom, heapdump, conditions
    jmx:
      exposure:
        exclude: "*"

logbook:
  format:
    style: json
