name: Mirror to GitLab

on: [push, delete]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Mirroring Repository
        uses: pixta-dev/repository-mirroring-action@v1.1.1
        with:
          target_repo_url: git@gitlab.com:${{ secrets.GITLAB_USERNAME }}/${{ secrets.GITLAB_PROJECT }}.git
          ssh_private_key: ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
